@{
    ViewData["Title"] = "About";
}

    <div class="toaster">
        <p>We are currently operating under Lockdown Level 3 for Our Health and Beauty Spa Services.</p>
    </div>
<section class="mdb-color darken-1" style="        color: rgba(255, 255, 255, 0.9);
        background: url('/images/spa-3184610_1920.jpg') no-repeat center center fixed;
        background-size: cover;">
    <div class="py-5" style="background-color: rgba(0,0,0,0.70);">
        <div class="container">
            <div class="row product-title-info">
                <div class="col-md-12">
                    <div class="section-top-border">
                        <center>
                            <h3>ABOUT QUEENZ BEAUTY BAR</h3>
                            <h4 class="heading mb-sm-5 mb-4 text-center" style="color: #E429FF">  We recognize that individuals are unique in their own right</h4>
                        </center>
                        <h5 class="mb-0">
                            Queens was designed to strengthen the confidence of all Queens by positively impacting on their emotions by giving them the glow at all times.
                            We are dedicated to offer highly professional treatments at all times.

                            <br>Our Queens must always feel beautiful confident and on top of the world after their treatments.<br>
                            Our qualified Beauty Therapists and Nail Technicians are waiting to pamper Queens with the whole lot of beauty treatments, massages, eyelashes,paragon dip waxing,tint,mani's and pedi's and so much more.
                            <br>We have an upmarket cosy place that allows us to massage deeply into the Queen's beauty.Join us in celebrating and
                            maintaining our beauty at all times

                            <br> Queenz is a kids friendly beauty bar. We have a special beautiful  space to accommodate our Prince and Pricess’s.<br>
                            Noise level will be well controlled to give the Queens the relaxation moments they have been hoping for.
                        </h5>
                        <p class="mb-0" style="color: #E429FF">
                            <i class="fa-li fa fa-scissors"></i>
                            Your time with us is valuable. Quality and Good service is our mantra.
                        </p>
        

                        <p class="mb-0"style="color: #E429FF">
                            <i class="fa-li fa fa-scissors"></i>
                            We take the time to consult with you and create a beauty experience that is unique to your needs,
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


