
@{
    ViewData["Title"] = "Gallery";
}
<div class="toaster">
    <p>We are currently operating under Lockdown Level 3 for Our Health and Beauty Spa Services.</p>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Netha Engineering Technology</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="ikageng.jpeg" />
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Slick slider -->
    <link href="assets/css/slick.css" rel="stylesheet">
    <!-- Gallery Lightbox -->
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <!-- Skills Circle CSS  -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/circle.css">


    <!-- Main Style -->
    <link href="style.css" rel="stylesheet">
    <link href="quick-hacks.css" rel="stylesheet">
    <link href="stylesheet.css" rel="stylesheet">
    <link href="mobileRes.css" rel="stylesheet">
    <link href="gallery.css" rel="stylesheet">

    <!-- Fonts -->
    <!-- Google Fonts Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <!-- Google Fonts Open sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">


</head>
<body>

    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start Header -->
    <!-- End Header -->
    <!-- Start main content -->
    <main>

        <section>
            <div class="container"style="padding-top:30px">
                <div class="row margin-top">
                    <div class="col-md-12">
                        <div class="mu-about-area">
                            <!-- Title -->
                            <div class="row">
                                <div class="col-md-12 mobile-title-margin-top" style="padding-top:20px">
                                    <div class="mu-title">
                                        <h2>Our Gallery</h2>
                                     
                                    </div>
                                </div>
                                <div class="col-md-12 butClass" id="myBtnContainer">
                                    <center class="tab-flex">
                                        <button type="button" class="btn btn-outline-black waves-effect filter filer-active" data-rel="all">All</button>
                                        <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="0">FACILITIE</button>
                                        <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">BODY & FACE</button>
                                        <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">NAILS & MENICURE</button>
                                        <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="3">BODY &  TREATMENTS</button>

                                    </center>
                                </div>
                            </div>
                            <section>




                                <div class="pics gallery small-device-margin-left" id="gallery" style="margin-left:+70px;padding-top:30px">
                                    <div class="animation all 0">


                                        <div class="row all 0">
                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width nimation 0 all" id="img1">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover  all 0" id="img2">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover  all 0" id="img3">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover  all 0" id="img4">
                                                </div>
                                            </div>
                                        </div>
                                        <img class="img-responsive" src="~/Queenz/QueenzPic6.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic21.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic15.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic7.jpeg" alt="image" style="height: 240px; width: 250px">








                                    </div>
                                    </hr>
                                </div>




                                <div class="pics gallery small-device-margin-left" id="gallery" style="margin-left:+70px;padding-top:30px">
                                    <div class="animation all 0">


                                        <div class="row all 0">
                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width card-shadow animation 0 all" id="img1">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover card-shadow all 0" id="img2">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover card-shadow all 0" id="img3">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover card-shadow all 0" id="img4">
                                                </div>
                                            </div>
                                        </div>
                                        <img class="img-responsive" src="~/Queenz/QueenzPic4.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic10.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic21.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic3.jpeg" alt="image" style="height: 240px; width: 250px">






                                    </div>
                                    </hr>
                                </div>




                                <div class="pics gallery small-device-margin-left" id="gallery" style="margin-left:+70px;padding-top:30px">
                                    <div class="animation all 0">


                                        <div class="row all 0">
                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width card-shadow animation 0 all" id="img1">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover card-shadow all 0" id="img2">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover card-shadow all 0" id="img3">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 0">
                                                <div class="gallery-image-holder height width cover card-shadow all 0" id="img4">
                                                </div>
                                            </div>
                                        </div>
                                        <img class="img-responsive" src="~/Queenz/QueenzPic12.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic2.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic8.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic11.jpeg" alt="image" style="height: 240px; width: 250px">






                                    </div>
                                    </hr>
                                </div>

                                <div class="pics gallery small-device-margin-left" id="gallery" style="margin-left:+70px;padding-top:30px">
                                    <div class="animation all 1">


                                        <div class="row all 1">
                                            <div class="col-md-3 gallery-image-parent all 1">
                                                <div class="gallery-image-holder height width card-shadow animation 1 all" id="img1">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 1">
                                                <div class="gallery-image-holder height width cover card-shadow all 1" id="img2">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 1">
                                                <div class="gallery-image-holder height width cover card-shadow all 1" id="img3">
                                                </div>
                                            </div>

                                            <div class="col-md-3 gallery-image-parent all 1">
                                                <div class="gallery-image-holder height width cover card-shadow all 1" id="img4">
                                                </div>
                                            </div>

                                        </div>
                                        <img class="img-responsive" src="~/Queenz/190741.jpg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic28.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic27.jpeg" alt="image" style="height: 240px; width: 250px">
                                        <img class="img-responsive" src="~/Queenz/037a889ee2c529e52771ca4f6c12fc48.jpg" alt="image" style="height: 240px; width: 250px">





                                    </div>
                                    </hr>
                                </div>
                                <!--start image section-->
                                <!-- Grid row -->
                                <div class="row">

                                    <!-- Grid column -->
                                    <div class="col-md-12 d-flex justify-content-center mb-5">

                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->
                                <!-- Grid row -->
                                <div class="gallery row" id="gallery" style="margin-left:+70px">

                                    <div class="pics animation all 2">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic23.jpeg" alt="image" style="height: 240px; width: 250px">
                                    </div>
                                    <!-- Grid column -->

                                    <div class="pics animation all 2">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic30.jpeg" alt="image" style="height: 240px; width: 250px">
                                    </div>

                                    <div class="pics animation all 2">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic26.jpeg" alt="image" style="height: 240px; width: 250px">
                                    </div>

                                    <div class="pics animation all 2">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic25.jpeg" alt="image" style="height: 240px; width: 250px">
                                    </div>

                                    <div class="pics animation all 3">
                                        <img class="img-responsive " src="~/Queenz/gettyimages-1144785790-2048x2048.jpg" alt="image" style="height: 240px; width: 250px">
                                    </div>
                                    <!-- Grid column -->
                                    <div class="pics animation all 3">
                                        <img class="img-responsive  "src="~/Queenz/QueenzPic28.jpeg" alt="image" style="height: 240px; width: 250px">
                                    </div>
                                    <div class="pics animation all 3">
                                        <img class="img-responsive " src="~/Queenz/GettyImages-184857385-57f67ff15f9b586c350b00dd.jpg "alt="image" style="height: 240px; width: 250px;line-height:10px">
                                    </div>

                                    <div class="pics animation all 3">
                                        <img class="img-responsive" src="~/Queenz/QueenzPic29.jpeg" alt="image" style="height: 240px; width: 250px">
                                    </div>
                                </div>
                                <!-- Grid row -->
                        </div>
                    </div>
                </div>
            </div>
        </section>





    </main>

    <!-- End main content -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <!-- Progress Bar -->
    <script src="https://unpkg.com/circlebars@1.0.3/dist/circle.js"></script>
    <!-- Filterable Gallery js -->
    <script type="text/javascript" src="assets/js/jquery.filterizr.min.js"></script>
    <!-- Gallery Lightbox -->
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter js -->
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script type="text/javascript" src="assets/js/drop.js"></script>








    <!-- Ajax contact form  -->
    <script type="text/javascript" src="assets/js/app.js"></script>


    <!-- Custom js -->
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script type="text/javascript" src="assets/js/tab.js"></script>


    <script>
        $(function () {
            var selectedClass = "";
            $(".filter").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#gallery").fadeTo(100, 0.1);
                $("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');
                setTimeout(function () {
                    $("." + selectedClass).fadeIn().addClass('animation');
                    $("#gallery").fadeTo(300, 1);
                }, 300);
            });
        });
    </script>

</body>
</html>
