@{
    ViewData["Title"] = "Home";
}
<!-- Start main content -->

<div class="toaster">
    <p>We are currently operating under Lockdown Level 3 for Our Health and Beauty Spa Services.</p>
</div>
<section class="mdb-color darken-1 section_gap" style="color: rgba(255, 255, 255, 0.9);
        background: url('/Queenz/QueenzPic21.jpeg') no-repeat center center fixed;
        background-size: cover;">
    @*<div class="py-5" style="background-color: rgba(0,0,0,0.0);">*@
        <div class="container">



            <div class="row py-3">
                <div class="col-sm-12 col-md-7">

                    <div class="mt-5">
                        <h3 class="font-weight-bold">WHERE BEAUTY  <br>COMES FROM WITHIN</h3>
                        <hr style="color:black">
                        <div class="row py-2">
                            <div class="col-md-1 col-2">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div class="col-md-11 col-10">
                                <h4 class="font-weight-bold mb-3" style="color: #E429FF">Customer-Centric Service</h4>

                                <h4 class="mb-0">
                                    We have created a space where men, women and the youth can come and reward themselves with the ever so deserved  “ME-time” quality pampering whilst forgetting about everyday hustles that leave them tired and weary..
                                </h4>

                                <p class="mb-0">
                                    <i class="fa-li fa fa-scissors"></i>
                                    Your time with us is valuable. Quality and Good service is our mantra.
                                </p>


                                <p class="mb-0" style="color: #E429FF">
                                    <i class="fa-li fa fa-scissors"></i>
                                    We take the time to consult with you and create a beauty experience that is unique to your needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 offset-md-1 col-md-4">
                    <div class="row text-center">
                        <div class="col-sm-12 text-center pb-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@*<section class="ftco-section ftco-intro" style="background-image: url(/Queenz/QueenzPic6.jpeg);">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="heading-section ftco-animate">
                        <h2 class="mb-4">Benefits of Doing Spa &amp; Massage</h2>
                    </div>
                    <p class="ftco-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <ul class="mt-5 do-list">
                        <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>Spa &amp; Massage boosts brain power</a></li>
                        <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>Spa &amp; Massage helps you to breathe better</a></li>
                        <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>Spa &amp; Massage improves your strength</a></li>
                        <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>Spa &amp; Massage helps you to focus</a></li>
                        <li class="ftco-animate"><a href="#"><span class="ion-ios-checkmark-circle mr-3"></span>Spa &amp; Massage helps give meaning to your day</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>*@


<!-- Start Services -->
<section class="story" id="section" style="padding-top:25px;">
    <div class="container text-center">
        <h2>OUR SERVICES</h2>
        <p>
            We have a range of services complimented by retail after care products to ensure that you maintainyour hair and beauty care routine.
            Some of the service offered to our clients are listed below:
        </p>
    </div>
</section>


            <section class="unique-color-dark p-8" style=" background-color:rgba(255, 255, 255, 0.9)">
                <div class="container-fluid">
                    <div class="row center">
                        <div class="col-sm-12">
                            <h2 class="text-center" style="color:rgba(255,255,255,0.9); font-family: 'Teko', sans-serif; font-size: 2.4em;">Technical Services</h2>
                        </div>
                    </div>
                    <hr class="mb-3" />
                    <div class="row pt-6">
                        <div class="col-sm-15 text-center col-md-3 text-center" style="color:rgba(255,255,255,0.9)">
                            <img class="w-50 text-md-center" src="~/images/Queenz.jpg">
                            <p><strong> <span class="mt-5 text-center" style="color: #7C0E5D;">BODY MASSAGE</span></strong></p>

                        </div>
                        <hr class="hidden-md-up" />
                        <div class="col-sm-15 text-center col-md-3 text-center" style="color:rgba(255,255,255,0.9)">
                            <img class="w-50 text-md-center" src="~/images/QueenzPic23.jpeg">
                            <p><strong> <span class="mt-5 text-center" style="color: #7C0E5D;">NAILS & MENICURE</span></strong></p>

                        </div>
                        <hr class="hidden-md-up" />
                        <div class="col-sm-12 text-center col-md-3 text-center" style="color:rgba(255,255,255,0.9)">
                            <img class="w-50 text-md-center" src="~/images/facial...jpg">
                            <p><strong> <span class="mt-5 text-center" style="color: #7C0E5D;">FACIAL & WAXING</span></strong></p>

                        </div>
                        <hr class="hidden-md-up" />
                        <div class="col-sm-12 text-center col-md-3 text-center" style="color:rgba(255,255,255,0.9)">
                            <img class="w-50 text-md-center" src="~/images/QueenzPic244.jpg">
                            <p><strong> <span class="mt-5 text-center" style="color: #7C0E5D;">PARTIES</span></strong></p>

                        </div>
                       
                        <div class="p-3">

                        </div>
                    </div>
                </div>


                <section class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 >
                    We have a range of services complimented by retail after care products to ensure that you maintainyour Health and beauty care routine.

                </h3>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-sm-3 col-md-6">
                <img src="~/Queenz/spa-3184610_1920 (1).jpg" class="img-fluid" alt="Fourth Industrial Revolution" />
            </div>

            <div class="col-sm-12 col-md-6">
                <h2 class="text-center" style="font-family: 'Orbitron', sans-serif;">Benefits of Doing Spa &amp; Massage</h2>
                <hr />
                <p class="lead">
                    <span class="ion-ios-checkmark-circle mr-3"></span>
                    Massage boosts brain power.
                </p>
                <p class="lead">
                    <span class="ion-ios-checkmark-circle mr-3"></span>
                    Relieves Aches and Pains.
                </p>
                <p class="lead">
                    <span class="ion-ios-checkmark-circle mr-3"></span>
                    Preventing Varicose Veins.
                </p>

                <p class="lead">
                    <span class="ion-ios-checkmark-circle mr-3"></span>
                    Supports Weight Loss.
                </p>

                <p class="lead">
                    <span class="ion-ios-checkmark-circle mr-3"></span>
                    Increases Happiness
                </p>

                <p class="lead">
                    <span class="ion-ios-checkmark-circle mr-3"></span>
                    Enhance Immunity
                </p>
            </div>
        </div>
    </div>
</section>


                <!-- Start Services -->
                @*<section style="padding-bottom:40px">
                    <div class="container">

                        <div class="col-md-12">
                            <div class="mu-service-area">

                                <div class="col-md-12">
                                    <div class="mu-title margin-top serv-mobile-margin-top" id="card1">
                                        <h2>Benefits of Doing Spa &amp; Massage</h2>
                                        <p class="align">
                                            We have a range of services complimented by retail after care products to ensure that you maintainyour Health and beauty care routine.
                                          
                                        </p>
                                    </div>
                                </div>
                            </div>

                             Start Feature Content 
                            <div class="row log-margin-top">
                                <div class="col-md-5">
                                    <div class="mu-about-left">
                                        <div class="services-img-holder card-shadow logistics-margin-top" id="logistics-card">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="mu-about-right">
                                        <ul class="log-text-margin-top"style="padding-bottom:20px">
                                            <li>
                                                <h3></h3>
                                                <h3></h3>
                                                <h3></h3>
                                                <h3></h3>
                                                <p class="align">We offer a range of vehicles that can accommodate a single parcel, a parcel that requires constant cooling to bulk products.</p>


                                                <ul class=" ">

                                                    <li class="serv-list-item standard-font-size no-margin-bottom">Helps to De-Stress. It goes without saying that visiting a spa is a fantastic way to relax and de-stress</li></br>
                                                    <li class="serv-list-item standard-font-size no-margin-bottom">Improved Blood Flow and Circulation</li></br>
                                                   
                                                    <li class="serv-list-item standard-font-size no-margin-bottom">Massage boosts brain power</li></br>
                                                    <li class="serv-list-item standard-font-size no-margin-bottom">Helps improve weak muscles</li></br>
                                                    <li class="serv-list-item standard-font-size no-margin-bottom">Reduces back pain</li>
                                                    <li class="serv-list-item standard-font-size no-margin-bottom">Massage helps give meaning to your day</li>
                                                    <li class="serv-list-item standard-font-size no-margin-bottom" id="card3">Spa &amp; Massage helps you to focus</li>
                                                </ul>
</ul>
                                    </div>
                                </div>
                            </div>
                             End Feature Content 



                        </div>
                    </div>

                </section>*@
            </section>
            <section class="other_services py-5" id="why" style="background-color: rgba(0,0,0,0.03);">
                <div class="container py-lg-5 py-3">
                    <h1 class="heading mb-sm-5 mb-4 text-center" style="color: #E429FF">Why Choose Us</h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="grid">
                                <img src="/Content/HomeTheme/images/choose1.jpg" alt="" class="img-fluid" />
                                <div class="info p-4">
                                    <h4 class="h4" style="color: #880E4F;"><img src="images/s1.png" class="img-fluid" alt="" style="color: #880E4F;">Unique in every way</h4>
                                    <p class="mt-3">Queenz Beauty  Bar is a gem, a magical place hidden away – from the moment you enter through our doors it is as if you have arrived at the gates of heaven.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                            <div class="grid">
                                <img src="/Content/HomeTheme/images/choose2.jpg" alt="" class="img-fluid" />
                                <div class="info p-4">
                                    <h4 class="h4" style="color: #880E4F;"><img src="images/s3.png" class="img-fluid" alt="">Professional therapists</h4>
                                    <p class="mt-3">Our therapists are all highly qualified and proficient ensuring you have the most sublime relaxation and healing experienc</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                            <div class="grid">
                                <img src="/Content/HomeTheme/images/choose3.jpg" alt="" class="img-fluid" />
                                <div class="info p-4">
                                    <h4 class="h4" style="color: #880E4F;"><img src="images/s5.png" class="img-fluid" alt="">Wellness Retreat</h4>
                                    <p class="mt-3">Our beauty Bar and retreat is the perfect place for relaxed exploration, inviting you to evolve to an enhanced life. Enquire about our personalised programs today.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            @*<section class="testimonials" >
                    <div class="layer m-md-5">
                        <div class="container py-5">
                            <h3 class="heading mb-5 text-center">What Leaders Say</h3>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="testi-info-text">
                                            <img src="~/Queenz/spa-4481538_1920.jpg" alt="" class="img-fluid" />
                                        </div>

                                        <div class="testi-pos">
                                            <img src="images/ts1.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                                            <h4> Elon Musk </h4>
                                        </div>
                                    </div>


                                    <div class="col-md-6 mt-md-0 mt-5">
                                        <div class="testi-info-text">
                                            <img src="~/Queenz/facial...jpg" alt="" class="img-fluid" />
                                        </div>
                                        <div class="testi-pos">
                                            <img src="images/ts2.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                                            <h4> Richard Feynman</h4>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>*@
