
@{
    ViewData["Title"] = "SALON";
}

<div class="toaster">
    <p>We are currently operating under Lockdown Level 3 for our Health and Beauty Spa.</p>
</div>

<section class="mdb-color darken-1 " style="        color: rgba(255, 255, 255, 0.9);
        background: url('/images/beauty-2537562_1920.jpg') no-repeat center center fixed;
        background-size: cover;">
    <div class="py-5" style="     background-color: rgba(0,0,0,0.70);">
        <div class="container">

            <div class="row product-title-info">
                <div class="col-md-12">
                    <div class="section-top-border">
                        @*<h1>Que</h1>*@
                        <h3>We have a range of services complimented by retail after care products to ensure that you maintainyour hair and beauty care routine.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<!---------start cards--------------->
<div class="services-page">
    <div class="card-holder container auto">
        <div class="row">
            <a href="services.html#card1" class="pointer">
                <div class="col-xs-6 col-sm-6 col-md-3 mobile-no-padding">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front serv-layer" id="distribution-card">
                                <div class="layer">
                                    <p class="service-name text-margin dis-margin">Therapy Facials</p>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p class="card-header-title">Therapy Facials</p>
                                <p class="serv-card-desc"> Top treatments for relaxation and steaming are all for you at Queenz. We will ensure your face glows ,remove all unwanted hair with our waxing treatment. Our professionals will make you feel safe and confident.</p>
                            </div>
                        </div>
                    </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 mobile-no-padding">
            <a href="services.html#card2" class="pointer">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="logistics-card">
                            <div class="layer">
                                <p class="service-name text-margin dis-margin">Body Treatments</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <p class="card-header-title">Body Treatments</p>
                            <p class="serv-card-desc"> Our professional Therapists are trained to give you the best time of your life through massages. They use different technics to ensure flow of blood and muscle relaxation.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 mobile-no-padding">
            <a href="services.html#card3" class="pointer">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <figure class="flip-card-front" id="fleet-card">
                            <div class="layer">
                                <p class="service-name text-margin fleet-margin">Beauty & Make up</p>
                            </div>
                        </figure>
                        <figure class="flip-card-back">
                            <p class="card-header-title">Beauty & Make up</p>
                            <p class="serv-card-desc">Our fleet services include vehichle tracking and recording mechanical diagnostics and driver behaviour</p>
                        </figure>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 mobile-no-padding">
            <a href="services.html#card4" class="pointer">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id="dist-card">
                            <div class="layer">
                                <p class="service-name text-margin ware-margin">Nails and Manicure</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <p class="card-header-title">   Nails and Manicure</p>
                            <p class="serv-card-desc">Our trained and qualified Nail Technicians are the best at handling, pampering and ensuring your nails are looking good at all times. We have over 500 colours to chose from. Love you hands and feet after our  treatments.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>
		
<!----End Cards---->